# Coursework 1

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Verification Data

Process the data using library functions for verification with the custom Hadoop implementation.

### Data Load

In [2]:
data_cols = [0, 1, 2, 8]
df_weather = pd.read_csv('data/raw/200704hourly.txt', usecols=data_cols)

# remove spaces from the column names
df_weather.columns = df_weather.columns.str.replace(' ', '')

df_weather.shape

/home/jfoul001/.conda/envs/dsm010/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(1338620, 4)

In [3]:
df_weather.head()

   WbanNumber  YearMonthDay Time DryBulbTemp
0        3011      20070401   50          32
1        3011      20070401  150          32
2        3011      20070401  250          32
3        3011      20070401  350          34
4        3011      20070401  450          34

In [4]:
# replace '-' with empty NaN
df_weather_clean = df_weather.replace('-', np.NaN)
df_weather_clean[df_weather_clean.DryBulbTemp.isna()]

         WbanNumber  YearMonthDay  Time DryBulbTemp
1436           3013      20070402  2201         NaN
1471           3013      20070404   806         NaN
1473           3013      20070404   911         NaN
1507           3013      20070405  1825         NaN
1508           3013      20070405  1836         NaN
...             ...           ...   ...         ...
1338615       96402      20070430   350         NaN
1338616       96402      20070430   450         NaN
1338617       96402      20070430   550         NaN
1338618       96402      20070430   650         NaN
1338619       96402      20070430  1250         NaN

[308482 rows x 4 columns]

#### Remove Null Values

In [5]:
# drop null values
df_weather_clean = df_weather_clean.dropna()
df_weather_clean.DryBulbTemp = df_weather_clean.DryBulbTemp.astype('int')
df_weather_clean.shape

(1030138, 4)

In [6]:
df_weather_clean.describe()

         WbanNumber  YearMonthDay   DryBulbTemp
count  1.030138e+06  1.030138e+06  1.030138e+06
mean   3.734065e+04  2.007042e+07  5.167273e+01
std    3.395600e+04  8.617742e+00  1.626283e+01
min    3.011000e+03  2.007040e+07 -6.700000e+01
25%    1.290900e+04  2.007041e+07  4.000000e+01
50%    2.319000e+04  2.007042e+07  5.200000e+01
75%    5.483400e+04  2.007042e+07  6.400000e+01
max    9.499900e+04  2.007043e+07  1.120000e+02

#### Group By Day

In [12]:
df_weather_grouped = df_weather_clean[['YearMonthDay', 'DryBulbTemp']].groupby(by='YearMonthDay')
df_weather_grouped
df_weather_grouped.agg(['max', 'min', 'mean', 'median', 'var']).reset_index()

   YearMonthDay DryBulbTemp
                        max min       mean median         var
0      20070401          92 -13  53.719618   54.0  220.167678
1      20070402          93 -13  55.066786   55.0  277.349574
2      20070403          93  -6  53.091015   54.0  347.583227
3      20070404          93 -15  45.994100   44.0  343.829264
4      20070405          94 -17  42.085650   39.0  293.334927
5      20070406          95  -5  39.700296   36.0  289.050116
6      20070407          96  -2  37.067186   34.0  228.100571
7      20070408          88  -6  39.363777   37.0  195.795372
8      20070409          89  -9  42.939378   42.0  184.965897
9      20070410          89 -15  45.496094   44.0  208.008217
10     20070411          96 -14  46.592362   45.0  234.703139
11     20070412          91 -16  46.828315   43.0  234.346236
12     20070413          98 -16  47.318374   45.0  222.475720
13     20070414          93 -11  47.918045   46.0  202.528936
14     20070415          90 -12  48.799602   48.0  181.024246
15     20070416          90 -13  50.581011   50.0  174.448033
16     20070417          90 -15  52.417287   52.0  172.907204
17     20070418          94   4  51.786859   51.0  153.899725
18     20070419          92  -4  52.154426   52.0  173.132032
19     20070420          93 -15  55.286874   56.0  187.983276
20     20070421          96 -11  58.056748   59.0  192.818167
21     20070422          89   1  59.943662   61.0  176.934579
22     20070423         112   1  60.829596   63.0  172.171014
23     20070424          99  12  59.212600   60.0  178.776399
24     20070425          96   3  56.825323   55.0  187.520616
25     20070426          96   0  56.331990   55.0  170.773712
26     20070427         102  -1  58.420641   58.0  178.732927
27     20070428         106 -11  61.101433   61.0  182.559690
28     20070429         100  -4  63.367894   63.0  195.306503
29     20070430         101 -67  63.332697   63.0  208.377827

## Mapper